/* Contenedor que aloja la imagen y el texto "presione para cargar" */
.avatar-container {
  display: flex;
  flex-direction: row; /* Coloca los elementos en fila */
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 15px; /* Espacio entre la imagen y el nombre */
}

/* Contenedor de la imagen con el texto superpuesto */
.image-wrapper {
  position: relative;
}

.avatar-container img {
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Alto de la imagen */
  object-fit: cover; /* Ajusta la imagen para que cubra el área sin deformarse */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  cursor: pointer; /* Permite que se pueda hacer clic en la imagen */
}

.subtexto {
  position: absolute;
  bottom: 10px; /* Ubica el texto cerca del borde inferior de la imagen */
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejor visibilidad */
  padding: 2px 0;
  border-radius: 4px;
}

input[type="file"] {
  display: none; /* Oculta el input file para que solo la imagen sea visible */
}

.info-container {
  display: flex;
  flex-direction: column; /* Alinea el nombre debajo de la imagen */
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 200px; /* Ancho del campo de texto */
  box-sizing: border-box;
  margin-top: 10px; /* Espacio entre la imagen y el nombre */
}

.eliminar-btn {
  background-color: #a03c3c;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
