.tarjeta {
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}
h1 {
  color: blue;
  font-size: 30px;
}
.fila {
  display: flex;
  justify-content: space-between; /* o center, flex-start, etc. */
  align-items: center; /* alinea verticalmente */
  gap: 10px; /* espacio entre los elementos */
}
.imagen-con-recuadro {
  border: 2px solid black;  /* grosor y color del borde */
  border-radius: 8px;       /* esquinas redondeadas, opcional */
  padding: 4px;             /* espacio entre la imagen y el borde */
  width: 200px;             /* tamaño opcional largo */
  height: 200px;            /* tamaño opcional alto  */
  object-fit: cover;  /* corta la imagen para llenar el área sin deformar */
}
