/* Estilo base */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.avatar-preview-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #007BFF;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: none; /* Ocultamos el texto por defecto */
}

input[type="file"] {
  display: none;
}

.input-container {
  flex: 1;
  margin-left: 20px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.experience-specification p {
  font-size: 14px;
  color: #666;
}

/* Estilo para mostrar texto cuando el avatar no tiene imagen */
.avatar-container:hover .avatar-text {
  display: block;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}


/* Estilos para la vista de impresión */
@media print {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .card {
    page-break-inside: avoid;
    width: 100%;
    margin: 0;
  }

  .actions, #addBtn, button {
    display: none;
  }

  .stats-table {
    page-break-before: always;
  }

  .stats-table table {
    width: 100%;
    page-break-inside: avoid;
  }
}
